In [2]:
import numpy as np
np.set_printoptions(threshold=50)

import os
dirExist = os.path.exists('C:/Users/Skywalker/python project/Datascience101/')
if dirExist:
    path_data = 'C:/Users/Skywalker/python project/Datascience101/'
else:
    path_data = 'C:/Users/Matt/python project/Datascience101/'

In [3]:
from datascience import *

In [4]:
Table()

In [5]:
Table().with_columns('Number of petals', make_array(8, 34, 5))

Number of petals
8
34
5

In [6]:
Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

Number of petals | Name
8                | lotus
34               | sunflower
5                | rose

In [7]:
flowers = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

flowers.with_columns(
    'Color', make_array('pink', 'yellow', 'red')
)

Number of petals | Name      | Color
8                | lotus     | pink
34               | sunflower | yellow
5                | rose      | red

In [8]:
flowers

Number of petals | Name
8                | lotus
34               | sunflower
5                | rose

In [9]:
minard = Table.read_table(path_data + 'minard.csv')

In [10]:
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [11]:
minard.num_columns

5

In [12]:
minard.num_rows

8

In [13]:
minard.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

In [14]:
minard.relabeled('City','City Name')

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [15]:
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [16]:
minard.column('Latitude')

array([ 54.8,  54.9,  55.5,  55.8,  55.2,  54.6,  54.4,  54.3])

In [17]:
minard.column(4)

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [18]:
minard.column(2).item(3)

'Moscou'

In [19]:
initial = minard.column('Longitude').item(0)
minard = minard.with_column('Percent Longitude',minard.column('Longitude')/initial)

In [20]:
minard

Longitude | Latitude | City        | Direction | Survivors | Percent Longitude
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 1.0375
34.4      | 55.5     | Chjat       | Advance   | 127100    | 1.075
37.6      | 55.8     | Moscou      | Advance   | 100000    | 1.175
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 1.07187
32        | 54.6     | Smolensk    | Retreat   | 24000     | 1
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.95
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.8375

In [21]:
minard.set_format('Percent Longitude', PercentFormatter)

Longitude | Latitude | City        | Direction | Survivors | Percent Longitude
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 103.75%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 107.50%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 117.50%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 107.19%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 100.00%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 95.00%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 83.75%